<!DOCTYPE html>
<html>
<head></head>
<body>
<a href='/auth/yahoojp'>
  <img src="http://i.yimg.jp/images/login/btn/btnLYid.gif" width="366" height="38" alt="Login with Yahoo! JAPAN ID" border="0">
</a>
</body>
</html>
